.venv/
__pycache__/
*.pyc
*.pyo
.DS_Store
checkpoints/
results/*.pt
*.egg-info/
.idea/
.vscode/

# MT-DARTS project
.venv/
.DS_Store
checkpoints/
results/*.pt

#folders
tests/
test/
results1/
results/

